.login{
    background-color: white !important;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_logo{
    width:100px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
}

.login__container{
    width:300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
}

.login__createbutton{
    align-items: center;
}

.login__inputboxes{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width:292px;
}

.login__signInButton{
    height: 31px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: rgb(253, 196, 39);
    border-color: orange;
    border: 2px;
}

.login__email{
    margin-top: 10px;
}

.login__createbutton{
    margin-top: 15px;
    margin-bottom: 10px;
    height: 33px;
    width:300px;
}

.login__banner{
    margin-top: 40px;
    width: 100%;
}

.login__clone{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 200;
    color: grey;
    margin-top: 100px;
}